:root {
  --shadow-color: 0deg 0% 56%;
  --shadow-elevation-low: 0.9px 0.3px 1.1px hsl(var(--shadow-color) / 0.62),
    4.1px 1.5px 4.9px -2.5px hsl(var(--shadow-color) / 0.62);
  --shadow-elevation-medium: 0.9px 0.3px 1.1px hsl(var(--shadow-color) / 0.58),
    5.3px 2px 6.4px -1.2px hsl(var(--shadow-color) / 0.58),
    20.6px 7.7px 24.7px -2.5px hsl(var(--shadow-color) / 0.58);
  --shadow-elevation-high: 0.9px 0.3px 1.1px hsl(var(--shadow-color) / 0.54),
    8.5px 3.2px 10.2px -0.5px hsl(var(--shadow-color) / 0.54),
    18.1px 6.7px 21.7px -1px hsl(var(--shadow-color) / 0.54),
    35.1px 13.1px 42.1px -1.5px hsl(var(--shadow-color) / 0.54),
    64.8px 24.1px 77.8px -2px hsl(var(--shadow-color) / 0.54),
    112.6px 41.9px 135.2px -2.5px hsl(var(--shadow-color) / 0.54);
}
@keyframes comeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes comeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes expandWidth {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }

  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
@keyframes expandHeight {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
body {
  font-family: Jost, "Open Sans", sans-serif;
}
header {
  background-color: rgb(0, 137, 190);
  color: rgb(238, 238, 66);
  height: auto;
  position: relative;
  z-index: 5;
  font-family: Jost;
  padding: 0.85rem;
  top: 0;
  text-align: center;
  cursor: default;
}
header > h1 {
  width: 100%;
  font-size: clamp(1.5rem, 5vw, 2rem);
}
header > div {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
header > div > * {
  padding: 0.75rem;
  text-decoration: none;
  outline: none;
  color: inherit;
  transition: 0.6s;
}
header > div > a:hover,
#navToggler:hover {
  background: rgb(0, 172, 240);
}
.container_navToggler {
  display: none;
  position: relative;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#navToggler {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 40px;
  height: 20px;
  position: relative;
  top: 15px;
  transition: inherit;
  background-color: rgb(0, 137, 190);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 30px 10vw;
  font-family: "Open Sans", sans-serif;
}
aside {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  transition: 0.5s;
  top: 50%;
  transform: translateY(-50%);
}
aside > * {
  background: #fff;
}
#tableToggler {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border: solid 1px #e2e2e2;
  box-shadow: var(--shadow-elevation-medium);
  width: 30px;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  left: 0;
  z-index: 4;
}
#tableOfContents {
  width: 290px;
  border: solid 1px rgb(0, 137, 190);
  height: 100%;
  z-index: 3;
  text-align: center;
  position: relative;
}
td,
th {
  padding: 1.2rem;
  border: solid 1px rgb(0, 137, 190);
}
aside:has(#tableOfContents[visible="false"]) {
  left: -290px;
}
aside:has(#tableOfContents[visible="true"]) {
  left: 0;
}
h2 {
  font-size: clamp(0.8rem, 9vw, 1.5rem);
}
h2 {
  color: rgb(238, 238, 66);
  background: rgb(0, 172, 240);
  padding: 0.75rem;
  width: fit-content;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media screen and (max-width: 576px) {
  h2 {
    text-align: center;
  }
  header > div {
    flex-direction: column;
  }
  #nav[visible="false"] {
    display: none;
  }
  #nav[visible="true"] {
    animation: comeFromTop 0.75s ease 0s 1 normal forwards;
    display: flex;
  }
  header > div > * {
    width: 100%;
  }
  .container_navToggler {
    display: flex;
    justify-content: center;
  }
}
